:root{
    --vermelho: #F50914;
    --preta: #141414;
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');;
}

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
    background-color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

/* Header */
header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

header .container{
    display: flex;
    justify-content: row;
    align-items: center;
    background-color: var(--preta)
}

header .logo{
    color: var(--vermelho);
    font-size: 40px;
    margin: 10px 40px 10px 40px;
    text-decoration: none;
    display: flex;
}

header #n { font-size: 40px; }
header #e { font-size: 37px; margin-left: -1px;}
header #t { font-size: 35px; margin: 1px 0px 0px 0px; }
header #f { font-size: 35px; margin: 1px 0px 0px 0px; }
header #l { font-size: 35px; margin: 1px 0px 0px -1px; }
header #i { font-size: 37px; }
header #x { font-size: 40px; }

header .logo b {
    margin: 0px;
    padding: 0px;
}

header nav a{
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
    font-size: 20px;
}

header .selected{
    color: #FFFFFF;
    cursor: default;
}

header .unselected:hover{
    color: #777777;
    transition: .3s ease-out;
}

/* filme principal */
main .container{
    margin: 0px 0px 0px 30px;
    width: 100%;
}

.principal{
    font-size: 16px;
    height: 70vh;

    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%), linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)100%), url(../image/the-mentalist-bk2.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 20%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

}

.principal .descricao{
    margin: 10px 0px 40px 20px;
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.titulo{
    font-size: 50px;
}

.botao{
    background-color: #00000088;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 15px 20px;
    margin-right: 15px;
    width: 150px;
    cursor: pointer;
}

.botao:hover{
    background-color: #FFFFFF;
    color: #000000;
    transition: .3s ease-in-out;
}

.botao i{
    margin-right: 8px;
}

/* carrosel */
.box-filme{
    height: 100%;
    width: 100%;
    display: block; 
    cursor: pointer;
}

.item:hover{
    transform: scale(1.1);
    transition: .5s ease-out;
}

.carrosel-filmes{
    margin-top: 10px;
}

/* popup */
.info{
    width: 100%;
    height: 100%;
    background-color: #000000AA;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 2px;
    z-index: 2;
    opacity: 1;
    transition: opacity .3s ease-out;
    display: none;
}

.info:hover {
    opacity: 1;
}

.info .container{
    width: 600px;
    height: 500px;
    background-color: var(--preta);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.info .close{
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    padding: 0px 6px;
    top: 10px;
    right: 20px;
    background-color: #090909;
    border-radius: 20px;
}

.info .close:hover{
    color: #999999;
    transition: .1s ease-out;
}

.info .closeX{
    margin: -2px -1px 0px 0px;
}

.info .infobox{
    margin: 25px;
}

.info p{
    text-align: justify;
}

.info .extra .cast{
    margin: 2px;
    font-size: 12px;
}

.info .extra .ano{
    margin: 6px;
    font-size: 16px;
}